html, body {
    margin: 0;
    padding: 0;
    font-family: cursive;

    p, h1, h2{color: (31, 224, 31);
    text-align: center;}
}

#blow {
    margin-top: 15px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
canvas{
    display: block;
}



a:link{
    color: rgba(248, 248, 248, 0);
}

a:hover {
    color: rgba(184, 199, 184, 0.151);
}

a:visited {
    color: rgb(248, 248, 248);
}